# Compiled output
lib/

# Dependencies
node_modules/

# Local Firebase emulator data
.firebase/

# Environment files
.env
.env.local
.env.*.local

# IDE
.idea/
*.iml
.vscode/

# Logs
*.log
npm-debug.log*
